
    * { 
        margin: 0; 
        padding: 0; 
        box-sizing: border-box; 
        font-family: Arial, Helvetica, sans-serif; } 
    
    header 
    { 
        background: #0b3a63; 
        padding: 15px 60px; 
        color: white; 
    } 
    .nav { 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    } 
    .logo { 
        font-size: 22px; 
        font-weight: bold; 
    } 
    .logo span 
    { 
        color: #f7c600; 
    } 
    nav a { 
        color: white; 
        text-decoration: none; 
        margin-left: 20px; 
        font-size: 14px; 
    }   
    .hero { 
        background: url(https://scontent.fceb6-4.fna.fbcdn.net/v/t39.30808-6/633207643_2419829238487807_2933522972761136018_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHZ9ZwPHR9KDCAM8mGYqyV9p0pLIwRKwqGnSksjBErCoU_PDFuwl5JZBP27wOKi5LnVzBJr3BbVUNmlst8KgpLo&_nc_ohc=QQVA1MN5pcQQ7kNvwFHNGL2&_nc_oc=Adl9Fc4RKvE6wF5AAglvi_3usa-O5dA8H_uII8lgwC0ipEt-Dp3wcYLZUhj_uSCOdXg&_nc_zt=23&_nc_ht=scontent.fceb6-4.fna&_nc_gid=2EhGmwHgoGNCDyDKnf1itA&oh=00_AftLtvZqwLtu4QbxSMTtk3-vegj1RTCEnx-kuE1qWaweTw&oe=6990AE56); 
        display: flex; 
        padding: 100px; 
        align-items: center; 
        gap: 40px; 
        width: 100%; 
        height:100% ;
        

    }
    .hero-text { 
        flex: 1; 
    } 
    .hero-text h1 { 
        font-size: 42px; 
        line-height: 1.2; 
        margin-bottom: 20px; 
    } 
    .hero-text h1 span { 
        color: #f7c600; 
        } 
    .hero-text p { 
            color: #faf3f3; 
            margin-bottom: 30px; 
            max-width: 500px; 
            } 
    .buttons button { 
        padding: 12px 22px; 
        border: none; 
        cursor: pointer; 
        margin-right: 10px; 
        font-weight: bold; 
        } 
    .btn-primary { 
        background: #0b3a63; 
        color: white; 
        } 
        
    .btn-outline { 
        background: white; 
        border: 2px solid #0b3a63; 
        color: #0b3a63; 
        } 
    .hero-image img { 
        width: 100%; 
        height:50% ;
        box-shadow: 100px;
        display: block;
    } 
     .features { 
        display: flex; 
        gap: 20px; 
        padding: 40px 60px; 
        background: #f4f7f8; 
        
    
        } 
    .feature-box { 
        flex: 1; 
        background: #0b3a63; 
        color: white; 
        padding: 25px; 
        min-height: 160px; 
        } 
    
    .feature-box h3 { 
        color: #f7c600; 
        margin-bottom: 10px; 
    }
        
    .feature-box p { 
        font-size: 14px; 
        opacity: 0.9; 
        } 
    
    .AboutMe{
        display: flex;
        margin-left: 50px;
        margin-right: 50%;
        margin-top: 5%;
        border: 4px;
    }
    .AboutMe h1{
        color: #0b3a63;
        font-size: 30px;
  }
  
    .Aboutimg img {
           width: 1600%;
           border: 8px;
           justify-content: flex-end;
           
     }
     footer{
        text-align: center;
        background-color: #0b3a63;
     }
       